


<div class="navContainer" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/crear-vinos"  href="">Publica Tu Vino</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
    </div>

                <header class="title">
                        <h3>
                           Rellenando el Formulario Podras Publicar Un Vino
                                        En Nuestra Pagina
                        </h3>  
                </header>

    <!-- aqui vamos con el formulario para crear los vinos -->
<div class="contForm">
    <form  [formGroup]="forma" (ngSubmit)="saveForm()" >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label > Bodega Proveniente</label>
            <input type="text" 
                class="form-control" 
                formControlName="bodegaProveniente">
          </div>
          <div class="form-group col-md-6">
            <label >Nombre Vino</label>
            <input type="text" 
                class="form-control" 
                formControlName="nombreVino">
          </div>
          <!-- <div class="form-group">
            <label for="exampleFormControlFile1"></label>
            <input type="file" 
            class="form-control-file" 
            id="exampleFormControlFile1"
            formControlName="archivo">
          </div> -->

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Caracteristicas</label>
            <textarea class="form-control" 
                id="exampleFormControlTextarea1" 
                rows="3"
                formControlName="caracteristicas"></textarea>
          </div>
          

          <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar Formulario</button>
        </div>
        
        
      </form>
</div>
<div class="mifoot">
  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Ermita Del Conde</a>
    </div>
    <!-- Copyright -->
  </footer>
 
</div>